{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>Highest Commenter</h2>
        <hr />
        {% if template_data.top_user %}
        <p><b>Username:</b> {{ template_data.top_user.username }}</p>
        <p><b>Number of Comments:</b> {{ template_data.top_user.comments_num }}</p>
        {% else %}
        <p>No comments have been posted yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

    

{% endblock content %}